@media only screen and (max-width: 720px) {
        #sobre {
            flex-direction: column;
            text-align: center;
        }
        #sobre .apresentacao>*{
            width: 100%;     
        }
        #sobre .apresentacao>h1, #sobre .apresentacao>h3 {
            text-align: center;
        }
        #contato {
            width: 100%;
            height: auto;
            border: none;
        }
        #educacao {
            width: 100%;
            border-left: none;
        }
        #educacao .legenda {
            width: 450px;
            left: calc(50% - 225px);
            text-align: center;  
        }
        
        #educacao .curso {
        width: 100%;
        }
        
        #educacao ul li {
            max-width: none;
            width: 100%;
            text-align: center;
        }
        
}
